body {
    height: 300vh;
}

/* div{
    float: left;
    quaquer div vai flutuar a esquerda
} */

div.bloco2 {
    float: right;
    border-style: dotted;
    border-width: 5px;
    
}

div.bloco3 {
    float: right;
}

.bloco1 {

    /* position: relative;
    top: 20px;
    left: 100px;
    bottom: 20px;
    distancia do rdapé */
    width: 800px;
    height: 600px;
    background-color: red;
    max-width: 60%;/* responsividade*/


}

.bloco2 {

    /* position: relative;
    top: 100px;
    left: 25px; */
    width: 180px;
    height: 250px;
    background-color: rgb(241, 218, 4);


}

.bloco3 {
    width: 180px;
    height: 250px;
    background-color: green;
}